nav {
    background-color: #61A598;
}

nav span {
    color: #DDD5A4;
    font-weight: bold;
}

table thead tr {
    color: #3D3331;
}

#backToDashboard {
    color: #61A598;
}

#colorGreen {
    background-color: #61A598;
    border: #61A598;
    color: white;
}

#colorGreenText {
    color: #61A598;
}
